.footer {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #F0F0F0;
  font-size: 0.9rem;
  color: #555555;
  font-family: 'Montserrat', sans-serif;

   * {
    color: inherit !important;
  }
}
